 body{
        background: url(images/back.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
.navbar{
        display: flex;
        justify-content: center;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 25px;
    }
.navbar img{
        width: 100px;
        height: 50px;
    }
.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
}
.container img{
    width: 315px;
    height: 270px;
}
.container a{
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    margin-left: 100px;
    padding: 10px;
    color: aliceblue;
    background-color: rgb(118, 233, 124);
}
.container h1{
    margin-bottom: 10%;
}
.t7t{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 3% auto;
}
.t7t a{
    text-decoration: none;
    color: aliceblue;
    padding: 8px;
    background-color: black;
    margin: 10px;
    border-radius: 10px;
}